<%= javascript_include_tag 'highcharts.js', :plugin => 'redmine_chart' %>
<h2>RedmineChartController#index</h2>
<%= @name %>
<div id=“container” style=“width: 100%; height: 400px”>
<%= high_chart("hoge", @chart) %>
</div>
<div class="contextual">
  <%= link_to_if_authorized(l(:label_redmine_chart_new), 
                            {:action => 'new', :project_id => @project}, 
                            :class => 'icon icon-add') %>
</div>


