<table>
  <tr>
    <td><%= l(:settings_show_account_menu)%></td>
    <td>
      <%= check_box_tag 'settings[show_account_menu]', true, @settings['show_account_menu'] %>
    </td>
  </tr>
</table>
<table class="list">
  <thead>
  </thead>
  <tbody>
  <th>START DAY</th><th>END DAY</th></tr>
  <td><%=Date.today-15%></td><td><%=Date.today%></td>
  </tbody>
</table> 
